.container{
    position: relative;
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

a {
    img{
        width: 100%;
        height: 100%;
    }
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.clear-fix::after{
    content: " ";
    display: block;
    clear: both;
}