.btn{
    display: inline-block;
    width: 110px;
    line-height: 30px;
    margin-left: 10px;
    text-align: center;
    background-color: #f60;
    color: #fff;
}

.btn-defult{
    display: inline-block;
    width: 110px;
    line-height: 30px;
    margin-left: 10px;
    text-align: center;
    background-color: #ccc;
    color: #fff;
}

.btn-l{
    width: 202px;
    height: 50px;
    line-height: 50px;
    font-style: 18px;
}

.btn-h{
    width: 300px;
    height: 54px;
    line-height: 54px;
    font-style: 18px;
    font-size: 16px;
}