// flex 布局复用
@mixin flex($hov:space-between, $col:center) {
    display: flex;
    justify-content: $hov;
    align-items: $col;
}

// 背景图
@mixin bgImg($w:0, $h:0, $url: '', $size: contain) {
    display: inline-block;
    width: $w;
    height: $h;
    background: url($url) no-repeat center;
    background-size: $size;
}

// 

@mixin position($pos: absolute, $top: 0, $left:0, $w: 100%, $h: 100%) {
    position: $pos;
    top: $top;
    left: $left;
    width: $w;
    height: $h;
}

// 背景图
@mixin posBgImg($pos, $right, $top, $w:0, $h:0, $url: '', $size: contain) {
    position: $pos;
    right: $right;
    top: $top;
    width: $w;
    height: $h;
    background: url($url) no-repeat center;
    background-size: $size;
}